<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,296}</string>
                <key>spriteSourceSize</key>
                <string>{124,296}</string>
                <key>textureRect</key>
                <string>{{129,547},{124,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,249}</string>
                <key>spriteSourceSize</key>
                <string>{57,249}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,249}</string>
                <key>spriteSourceSize</key>
                <string>{100,249}</string>
                <key>textureRect</key>
                <string>{{57,0},{100,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,296}</string>
                <key>spriteSourceSize</key>
                <string>{91,296}</string>
                <key>textureRect</key>
                <string>{{253,547},{91,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,265}</string>
                <key>spriteSourceSize</key>
                <string>{120,265}</string>
                <key>textureRect</key>
                <string>{{157,0},{120,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,265}</string>
                <key>spriteSourceSize</key>
                <string>{120,265}</string>
                <key>textureRect</key>
                <string>{{277,0},{120,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,265}</string>
                <key>spriteSourceSize</key>
                <string>{81,265}</string>
                <key>textureRect</key>
                <string>{{397,0},{81,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,265}</string>
                <key>spriteSourceSize</key>
                <string>{83,265}</string>
                <key>textureRect</key>
                <string>{{0,265},{83,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,282}</string>
                <key>spriteSourceSize</key>
                <string>{122,282}</string>
                <key>textureRect</key>
                <string>{{343,265},{122,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,266}</string>
                <key>spriteSourceSize</key>
                <string>{105,266}</string>
                <key>textureRect</key>
                <string>{{83,265},{105,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dao_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,266}</string>
                <key>spriteSourceSize</key>
                <string>{105,266}</string>
                <key>textureRect</key>
                <string>{{188,265},{105,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,311}</string>
                <key>spriteSourceSize</key>
                <string>{83,311}</string>
                <key>textureRect</key>
                <string>{{358,856},{83,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,287}</string>
                <key>spriteSourceSize</key>
                <string>{72,287}</string>
                <key>textureRect</key>
                <string>{{0,547},{72,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,276}</string>
                <key>spriteSourceSize</key>
                <string>{50,276}</string>
                <key>textureRect</key>
                <string>{{293,265},{50,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,315}</string>
                <key>spriteSourceSize</key>
                <string>{47,315}</string>
                <key>textureRect</key>
                <string>{{441,856},{47,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,309}</string>
                <key>spriteSourceSize</key>
                <string>{68,309}</string>
                <key>textureRect</key>
                <string>{{344,547},{68,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,309}</string>
                <key>spriteSourceSize</key>
                <string>{77,309}</string>
                <key>textureRect</key>
                <string>{{0,856},{77,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,309}</string>
                <key>spriteSourceSize</key>
                <string>{66,309}</string>
                <key>textureRect</key>
                <string>{{77,856},{66,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,309}</string>
                <key>spriteSourceSize</key>
                <string>{66,309}</string>
                <key>textureRect</key>
                <string>{{143,856},{66,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,309}</string>
                <key>spriteSourceSize</key>
                <string>{81,309}</string>
                <key>textureRect</key>
                <string>{{209,856},{81,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,309}</string>
                <key>spriteSourceSize</key>
                <string>{68,309}</string>
                <key>textureRect</key>
                <string>{{290,856},{68,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiem_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,292}</string>
                <key>spriteSourceSize</key>
                <string>{57,292}</string>
                <key>textureRect</key>
                <string>{{72,547},{57,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Item.png</string>
            <key>size</key>
            <string>{488,1171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cc794e376bdcec53ddf50a579e5ef27:c9ae03d5dfec0942dbe00ff26ab7a091:eb41154dee1bc01d711a38924ec169e0$</string>
            <key>textureFileName</key>
            <string>Item.png</string>
        </dict>
    </dict>
</plist>
