<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,114}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{0,101},{136,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,114}</string>
                <key>spriteSourceSize</key>
                <string>{115,114}</string>
                <key>textureRect</key>
                <string>{{136,101},{115,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,114}</string>
                <key>spriteSourceSize</key>
                <string>{138,114}</string>
                <key>textureRect</key>
                <string>{{251,101},{138,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,114}</string>
                <key>spriteSourceSize</key>
                <string>{123,114}</string>
                <key>textureRect</key>
                <string>{{0,215},{123,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{123,215},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{233,215},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{348,215},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{0,331},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,53}</string>
                <key>spriteSourceSize</key>
                <string>{108,53}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,125}</string>
                <key>spriteSourceSize</key>
                <string>{175,125}</string>
                <key>textureRect</key>
                <string>{{0,698},{175,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,125}</string>
                <key>spriteSourceSize</key>
                <string>{189,125}</string>
                <key>textureRect</key>
                <string>{{175,698},{189,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,125}</string>
                <key>spriteSourceSize</key>
                <string>{189,125}</string>
                <key>textureRect</key>
                <string>{{0,823},{189,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,125}</string>
                <key>spriteSourceSize</key>
                <string>{193,125}</string>
                <key>textureRect</key>
                <string>{{189,823},{193,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,125}</string>
                <key>spriteSourceSize</key>
                <string>{237,125}</string>
                <key>textureRect</key>
                <string>{{0,948},{237,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,125}</string>
                <key>spriteSourceSize</key>
                <string>{237,125}</string>
                <key>textureRect</key>
                <string>{{237,948},{237,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,118}</string>
                <key>spriteSourceSize</key>
                <string>{133,118}</string>
                <key>textureRect</key>
                <string>{{115,331},{133,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{140,148}</string>
                <key>textureRect</key>
                <string>{{352,1487},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{140,148}</string>
                <key>textureRect</key>
                <string>{{0,1635},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{140,148}</string>
                <key>textureRect</key>
                <string>{{140,1635},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireDown_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,203}</string>
                <key>spriteSourceSize</key>
                <string>{171,203}</string>
                <key>textureRect</key>
                <string>{{280,1635},{171,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireUp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,138}</string>
                <key>spriteSourceSize</key>
                <string>{151,138}</string>
                <key>textureRect</key>
                <string>{{0,1073},{151,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireUp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,138}</string>
                <key>spriteSourceSize</key>
                <string>{168,138}</string>
                <key>textureRect</key>
                <string>{{151,1073},{168,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireUp_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,138}</string>
                <key>spriteSourceSize</key>
                <string>{176,138}</string>
                <key>textureRect</key>
                <string>{{319,1073},{176,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireUp_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,138}</string>
                <key>spriteSourceSize</key>
                <string>{183,138}</string>
                <key>textureRect</key>
                <string>{{0,1211},{183,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireUp_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,138}</string>
                <key>spriteSourceSize</key>
                <string>{183,138}</string>
                <key>textureRect</key>
                <string>{{183,1211},{183,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireUp_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,138}</string>
                <key>spriteSourceSize</key>
                <string>{210,138}</string>
                <key>textureRect</key>
                <string>{{0,1349},{210,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireUp_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,138}</string>
                <key>spriteSourceSize</key>
                <string>{203,138}</string>
                <key>textureRect</key>
                <string>{{210,1349},{203,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,121}</string>
                <key>spriteSourceSize</key>
                <string>{144,121}</string>
                <key>textureRect</key>
                <string>{{248,331},{144,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,123}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{317,452},{148,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,123}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{0,575},{148,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,121}</string>
                <key>spriteSourceSize</key>
                <string>{144,121}</string>
                <key>textureRect</key>
                <string>{{0,452},{144,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,121}</string>
                <key>textureRect</key>
                <string>{{144,452},{173,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,101}</string>
                <key>spriteSourceSize</key>
                <string>{188,101}</string>
                <key>textureRect</key>
                <string>{{108,0},{188,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,101}</string>
                <key>spriteSourceSize</key>
                <string>{188,101}</string>
                <key>textureRect</key>
                <string>{{296,0},{188,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,145}</string>
                <key>spriteSourceSize</key>
                <string>{188,145}</string>
                <key>textureRect</key>
                <string>{{0,1487},{188,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,145}</string>
                <key>spriteSourceSize</key>
                <string>{164,145}</string>
                <key>textureRect</key>
                <string>{{188,1487},{164,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,123}</string>
                <key>spriteSourceSize</key>
                <string>{143,123}</string>
                <key>textureRect</key>
                <string>{{148,575},{143,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,123}</string>
                <key>spriteSourceSize</key>
                <string>{125,123}</string>
                <key>textureRect</key>
                <string>{{291,575},{125,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{495,1838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17bf551c886adb6a88fd5966aecce98c:43cc612a055f2d8d7d46fb5899b4d407:c4903a2f537cac14b0fcef7b8429e510$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
