<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flyy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{250,0},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{500,0},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{750,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyy_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{1050,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyy_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{1350,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyy_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{1650,0},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Effect.png</string>
            <key>size</key>
            <string>{1950,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20157803d1edc2791239aeac0118407a:7690aa7bb534c0888b3470eb115623d0:062dea38da3f7e35ccee1d80c412f4bd$</string>
            <key>textureFileName</key>
            <string>Effect.png</string>
        </dict>
    </dict>
</plist>
