<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snakeDie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{59,0},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{0,475},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{69,475},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{138,475},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{118,0},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{177,0},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,76}</string>
                <key>spriteSourceSize</key>
                <string>{63,76}</string>
                <key>textureRect</key>
                <string>{{180,316},{63,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,76}</string>
                <key>textureRect</key>
                <string>{{62,395},{66,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,76}</string>
                <key>textureRect</key>
                <string>{{128,395},{66,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{0,551},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeDie_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{69,551},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{0,79},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{60,79},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{120,79},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{180,79},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{0,158},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{60,158},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{120,158},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{180,158},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{0,237},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{60,237},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{120,237},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{180,237},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{0,316},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{60,316},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeGo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{120,316},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{0,982},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,111}</string>
                <key>spriteSourceSize</key>
                <string>{62,111}</string>
                <key>textureRect</key>
                <string>{{79,631},{62,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{82,982},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{164,982},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{0,1093},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{82,1093},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{164,1093},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{0,1204},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{82,1204},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{164,1204},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{138,551},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{62,80}</string>
                <key>textureRect</key>
                <string>{{0,395},{62,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{0,631},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{141,631},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{0,742},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{104,742},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{0,822},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{104,822},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{0,902},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snakeSkill_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{104,902},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Snake.png</string>
            <key>size</key>
            <string>{246,1315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5c5956c50aa23315b491e0e0971fca7:753d9ca689e75bca669d9111a33fa303:e52a2c682fdbaaf76840b7a67fa3e0d5$</string>
            <key>textureFileName</key>
            <string>Snake.png</string>
        </dict>
    </dict>
</plist>
